@import 'variables.scss';
.collages {
	display: flex;
	flex-wrap: wrap;
	.collage {
		height: 400px;
		width: 450px;
		display: inline-flex;
		position: relative;
		&:nth(4) {
			align-self: flex-end;
		}
		.img-container {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-self: center;
			img {
				height: auto;
				width: auto;
				transition: all .2s linear;
			}
			button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 999;
			}
		}
		.copy-container {
			position: absolute;
			width: 100%;
			.desc {
				/*background-color: #191b1690;*/
				display: none;
				/*border: 1px solid;*/
				border-radius: 3px;
			}
		}
		&.active {
			/*height: 100vh;*/
			/*width: 100vw;*/
			/*position: fixed;*/
			/*overflow: hidden;*/
			/*background-color: $bg;*/
			/*z-index: 999;*/
			.img-container {
				display: block;
				position: relative;
				top: unset !important;
				left: unset !important;
				img {
					height: 110vh;
				}
			}
			.desc {
				display: block;
				/*animation: scroll-out 1s forwards linear;*/
			}
		}
	}
}
@keyframes scroll-out {
	from {
		opacity: 0;
		/*transform: translateY(100px);*/
	}
	to {
		opacity: 1;
		/*transform: none;*/
	}
}