.choose-theme-container {
  @extend .tag;
  width: 0;
  position: fixed;
  left: 0;  
  top: 50%;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2px 6px;
  padding-left: 21px;
  border: 1px solid #000;
  background-color: #fafafa;
  overflow: hidden;
  transition: width .2s ease;
  z-index: 999;
  #paint-brush {
    position: absolute;
    background-image: url(../images/paint-brush.png);
    background-size: contain;
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 4px;
    cursor: pointer;
  }
  &.expand {
    width: 100px;
    #paint-brush {
      background-image: none;
      &:after {
        content: '+';
        position: absolute;
        font-size: 21px;
        font-weight: 100;
        transform: rotate(45deg) translate(-3px, -3px);
      }
    }
    #choose-theme {
      select {
        position: relative;
        padding-right: 21px;
      }
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        display: inline-block;
        border-top: 5px solid #000;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        pointer-events: none;
      }
    }
  }
  #choose-theme {
    display: inline-block;
    select {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      font-family: inherit;
      -webkit-appearance: none;
      appearance: none;
      option {
        width: 100%;
      }
    }
  }
}
body.space {
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #90918f;
  }
  #primary-nav.active {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, black, transparent);
  }
  .tag:not(.choose-theme-container) {
    background-color: transparent !important;
    color: #fff !important;
    &.active {
      background: #ffffff1a !important;
    }
  }
  .btn {
    &:before {
      content: "z";
      position: absolute;
      animation: float 1.6s forwards;
      will-change: bottom, opacity;
    }
    &:after {
      content: "-_-";
      white-space: nowrap;
      animation: snore 1.6s forwards;
      will-change: font-size, content;
    }
    &:hover {
      &:before {
        content: none;
      }
      &:after {
        animation: slow-blink-to-anger 15s ease-out;
      }
    }
  }
  .music-container {
    .music {
      .music--inner {
        background-color: #ffffff1c;
      }
    }
  }
}
body.bubbles {
  background-color: pink;
  &::-webkit-scrollbar-track {
    background: pink;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(#b2ffff, orange);
    box-shadow: 2px 2px 0 #00000040;
  }
  #primary-nav { 
    p {
      text-shadow: 2px 5px 0 #00000040;
    }
    &.active {
      width: 100%;
      height: 100%;
      animation: water 7s infinite linear;
    }
  }
  .tag {
    box-shadow: 2px 2px 0 #00000040;
  }
  .flicker-text {
    color: pink;
    text-shadow: 4px 4px 0 #fff, -.01px -1px 1px #fff;
    animation: none;
    &:not(.bottom-left) {
      margin-top: -4px;
    }

    &:not(.page-title) {
      color: #fff;
      text-shadow: 4px 4px 0 $teal, -0.01px -1px 1px orange;
    }
    &.about--copy {
      color: #fff;
      text-shadow: none;
    }
  }
  .input, input:not([type=range]) {
    background-color: #fafafa;
    border: none;
    box-shadow: 0 0 1px #000 inset;
    color: #000;
    &::placeholder {
      color: #000 !important;
      transition: letter-spacing .2s ease;
    }
    &:hover {
      background-color: #fff;
      &::placeholder {
        letter-spacing: 6px;
      }
    }
  }
  .btn:not(.windows):not(.contact-form-button) {
    will-change: border-radius, height;
    transition: border-radius .2s ease, height .2s ease;
    &:hover {
      border-radius: 50%;
      height: 60px;
      animation: spin 3s linear infinite;
      &:before {
        animation: spin 3s linear infinite reverse;
      }
    }
  }
  .music-container .music {
    animation: floatup 60s linear infinite;
    &.match {
      animation: none;
    }
    &.exact-match {
      animation: none;
      .music--inner {
        animation: wobble 2s infinite linear;
      }
    }
    &.playing {
      animation-play-state: paused;
      .music--inner {
        background: linear-gradient(pink, #7ff9ffad);
        border: none;
        animation-play-state: paused;
      }
    }
    .current-time-container {
      height: unset;
      width: unset;
    }
    button {
      color: #fff;
    }
    .music--inner {
      position: relative;
      background: transparent;
      border: none;
      border-radius: 50%;
      box-shadow: -9px 8px 17px #b2ffff inset;
      height: 200px;
      width: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      label {
        padding: 44px 33px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-bottom: none;
        box-sizing: border-box;
        z-index: 0;
      }
      .player {
        z-index: 1;
      }
      .close {
        right: 34px;
        top: 24px;
        font-size: 24px;
        font-weight: 100;
      }
      .player .volume span {
        background-color: transparent;
      }
    }
    &:hover {
      animation-play-state: paused;
      .music--inner {
        animation-play-state: paused;
      }
    }
  }
  @for $i from 1 through 100 {
    .music:nth-child(#{$i}) {
      left: percentage(random(80) / 100);
      animation-duration: #{(random(25)) + 15}s;
      animation-delay: #{(random(20) * -1)}s;
    }
  }
  .tag.active {
    background: transparent !important;
    border-color: #fff;
    .num {
      border-color: #fff;
    }
  }
}
body.sterile {
  background-color: #fff;
  &::-webkit-scrollbar-track {
    background: #0006;
  }
  section, a {
    color: #000;
  }
  .flicker-text {
    text-shadow: 1px 1px 8px #000, -1px -2px 3px grey;
    animation: none;
  }
  #primary-nav a {
    color: #aaaaaa90 !important;
  }
  .btn {
    color: #000;
    border-color: #000;
  }
  .music-container .music {
    .music--inner {
      background-color: #fafafa;
      border: none;
      box-shadow: -1px -1px 4px #0006 inset, 1px 1px 6px #fff inset, -1px -1px 1px #aaa inset, 3px 3px 14px #0006;
      label {
        color: #aaa;
      }
      .current-time-container {
        color: #000;
      }
    }
    &.paused {
      .music--inner {
        background-color: transparent;
        box-shadow: none;
        border: 1px solid #aaa;
        label {
          color: #000;
        }
      }
    }
    &.playing {
      .music--inner {
        background: linear-gradient(45deg, #fff, #ddd);
      }
    }
    .player .volume span {
      background-color: transparent;
    }
  }
  .input, 
  input:not([type=range]) {
    border-radius: 8px;
    background-color: #fafafa;
    color: #000;
    &::placeholder {
      color: #00000085 !important;
    }
    &:hover {
      background-color: #eee;
    }
  }
  #primary-nav {
    p {
      text-shadow: 2px 5px 0 #00000017;
      &:after {
        color: #000 !important;
      }
    }
    a {
      color: #000;
      text-shadow: none !important;
    }
  }
  .music button {
    color: #000;
  }
  .tag.active {
    background: $gradient;
  }
  .socials .fab {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(45deg, #00000052, transparent);
      box-shadow: 1px 1px 6px #0006, -1px 1px 9px #fff inset;
    }
    &:hover {
      box-shadow: none;
    }
  }
}
@keyframes wobble {
  0%, 50%, 100% {
    height: 200px;
    width: 200px;
  }
  25% {
    height: 175px;
    width: 225px;
  }
  75% {
    height: 225px;
    width: 175px;
  }
}

@keyframes water {
  0% {
    background: linear-gradient(135deg, turquoise, transparent);
  }
  5% {
    background: linear-gradient(135deg, turquoise, transparent 40%, turquoise 90%);
  }
  10% {
    background: linear-gradient(135deg, turquoise, transparent 30%, turquoise 80%);
  }
  15% {
    background: linear-gradient(135deg, turquoise, transparent 20%, turquoise 70%);
  }
  20% {
    background: linear-gradient(135deg, turquoise, transparent 10%, turquoise 60%);
  }
  25% {
    background: linear-gradient(135deg, transparent, turquoise);
  }
  30% {
    background: linear-gradient(135deg, transparent, turquoise 40%, transparent 90%);
  }
  35% {
    background: linear-gradient(135deg, transparent, turquoise 30%, transparent 80%);
  }
  40% {
    background: linear-gradient(135deg, transparent, turquoise 20%, transparent 70%);
  }
  45% {
    background: linear-gradient(135deg, transparent, turquoise 10%, transparent 60%);
  }
  50% {
    background: linear-gradient(135deg, turquoise, transparent);
  }
  55% {
    background: linear-gradient(135deg, turquoise, transparent 40%, turquoise 90%);
  }
  60% {
    background: linear-gradient(135deg, turquoise, transparent 30%, turquoise 80%);
  }
  65% {
    background: linear-gradient(135deg, turquoise, transparent 20%, turquoise 70%);
  }
  70% {
    background: linear-gradient(135deg, turquoise, transparent 10%, turquoise 60%);
  }
  75% {
    background: linear-gradient(135deg, transparent, turquoise);
  }
  80% {
    background: linear-gradient(135deg, transparent, turquoise 40%, transparent 90%);
  }
  85% {
    background: linear-gradient(135deg, transparent, turquoise 30%, transparent 80%);
  }
  90% {
    background: linear-gradient(135deg, transparent, turquoise 20%, transparent 70%);
  }
  95% {
    background: linear-gradient(135deg, transparent, turquoise 10%, transparent 60%);
  }
  100% {
    background: linear-gradient(135deg, turquoise, transparent);
  }

}

