@import 'variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 8px;
  font-size: 14px;
  line-height: 1.1;
  color: $teal;
  font-family: "Cutive Mono",monospace;
  background-color: $bg;
  overflow-x: hidden;
}
body.disco-mode {
  animation: rainbow 1s infinite;
}
body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  background: linear-gradient(darkgrey, $bg);
} 
body::-webkit-scrollbar-thumb {
  background: #fff;
  opacity: .3;
  box-shadow: 0 0 2px #fff inset, 2px -2px 0px #000 inset, 1px 1px 0 #000;
  border-radius: 13px;
}
section.active .infinite,
section.active #stars-1.infinite,
section.active #stars-2.infinite {
  animation-iteration-count: infinite;
}
section:not(.active) .stars.fallen {
  animation-iteration-count: unset !important;
}
div {
  box-sizing: border-box;
}
.flexbox {
  display: flex;
}
button {
  appearance: none;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-align: center;
  align-items: flex-start;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  outline: none;
  cursor: pointer;
}
.controls button {
  appearance: none;
  border: none;
  background-color: transparent;
}
a {
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: 0;
    color: $teal;
  }
  &:visited {
    color: $pink;
  }
}

section {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .2s ease;
  color: #fff;
  &.active {
    transform: scale(1);
  }
  .container {
    position: absolute;
    width: 97.5vw;
    overflow: hidden;
  }
}
/* Fonts */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 21px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: lightblue;
  z-index: 1;
}

h1 {
  font-size: 44px;
  line-height: 45px;
}
p {
  margin-bottom: 18px;
}
.flicker-text {
  font-family: Nintendoid1;
  color: #eee;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-direction: alternate;
  animation-delay: .5s;
}
.bottom-left {
  margin-top: 50vh;
  width: 614px;
  max-width: 90%;
  margin-left: auto;
}
.supertext {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.close {
  position: absolute;
  right: 3px;
  top: -1px;
  transform: rotate(45deg);
  cursor: pointer;
  &:after {
    content: '+';
  }
}
#primary-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  #menu-toggle {
    &:after {
      content: '\01F354';
    }
    &:active {
      animation: spin .2s linear forwards;
    }
  }

  a, p {
    font-family: Atari-Classic;
    text-transform: uppercase;
    cursor: pointer;
    @include boxshadow;
  }

  a {
    font-size: 26px;
    text-decoration: none;
    transform: scale(0);
    color: #fff !important;
    transition: transform .2s ease;
  }

  &.active {
    #menu-toggle {
      &:after {
        content: 'x';
        color: #fff;
      }
    }
    a {
      transform: scale(1);
      animation: move-shadow 1s ease forwards;
      animation-delay: .3s;
      &:hover {
        transform: scale(1.8);
      }
    }
  }
}
/* Footer */
footer {
  width: 100%;
  padding: 80vh 0 21px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  &.active {
    #stars-1 {
      animation-name: fall-down-1;
    }
    #stars-2 {
      animation-name: fall-down-2;
    }
  }
  .stars {
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0;
    z-index: -999;
    animation-delay: .5s;
    animation-duration: 3s !important;
    animation-timing-function: linear !important;
    will-change: left;
    &.fallen {
      animation-play-state: paused !important;
    }
    .star {
      position: absolute;
      padding: 21px;
      transition: top .1s ease;
      transition-delay: 2s;
      &:after {
        content: '+';
      }
      @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          top: percentage(random(100) / 100);
          left: percentage(random(100) / 100);

        }
      }
    }
    &.fallen {
      .star {
        top: calc(100% - 55px);
      }
    }
  }
  #signup {
    position: relative;
    text-align: left;
    max-width: 300px;
    margin-left: auto;
    transform: rotate(270deg) translate(45px, 120px);
    z-index: 1;
    .popup {
      transform: rotate(-270deg);
      input,
      .input {
        margin-bottom: 11px;
        color: #000;
        background-color: transparent;
        text-align: center;
        border: none;
        box-shadow: 0px 1px 2px inset;
        &::placeholder {
          color: #000 !important;
        }
      }
      button {
        float: none;
        margin: auto;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    .fab {
      background-color: $primary-bg;
      position: relative;
      height: 21px;
      width: 21px;
      flex: none;
      margin: 0 6px;
      padding: 3px;
      border-radius: 50%;
      font-size: 12px;
      color: $blue;
      transition: transform .5s linear, margin 3s ease, background-color .5s ease;
      animation: reverse-roll 1s linear;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      .fab {
        animation: roll 1s forwards infinite linear;
        animation-direction: reverse;
      }
      .fab:hover {
        background-color: $shadow-color;
        margin: 0 100%;
        animation: none;
        &:before {
          color: #fff;
        }
        & + .fab {
          animation-direction: normal;
        }
      }
    }
  }
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  .close {
    color: #616161
  }
}
.popup {
  display: none;
  position: absolute;
  min-width: 200px;
  margin-top: -300px;
  border: 2px solid #616161;
  background-color: #ccc;
  padding: 33px 12px 12px;
  box-shadow: 12px 12px 0 $shadow-color;
  color: #616161;
  text-align: center;
  button {
    @extend .btn;
    border-color: #616161 !important;
    color: #616161 !important;
  }
  &.active {
    display: inline-block;
    animation: shoot .5s reverse;
  }
}
/* Forms */
.input, input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  padding: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid #fff;
  border-radius: 0;
  font-family: "Cutive Mono",monospace;
  font-size: 14px;
  background-color: $darkgreen;
  color: #b4ff00;
  box-sizing: border-box;
  cursor: pointer;
  &[type=range] {
    background-color: transparent;
  }
  &::placeholder {
    letter-spacing: 2px;
    color: #b4ff006b !important;
  }
  &:focus {
    outline: none;
    cursor: text;
  }
  &:not([type=range]):hover {
    background-color: $darkgreen + 10;
  }
  &:after {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: .2;
    z-index: 1;
  }
}

.windows {
  border: none;
  border-radius: 0;
  background-color: #d7d3ce;
  color: #000;
  box-shadow: 3px 3px 2px #fff inset, -3px -3px 2px #979593 inset, 12px 12px 0 $shadow-color;

  &.btn {
    min-width: 120px;
    padding: 12px 6px;
    border-radius: 1px;
    font-family: 'Atari-Classic';
    background-color: #d7d3ce;
    color: #000;
    &:after {
      animation: none;
      content: none;
    }
    &:active {
      margin-top: 12px;
      margin-left: 12px;
      box-shadow: 3px 3px 2px #fff inset, -3px -3px 2px #979593 inset;
    }
  }
}

.input + .btn, input + .btn {
  height: 33px;
}

form {
  max-width: 280px;
  width: 100%;

  .input {
    width: 100%;
  }
  input {
    height: 33px;
  }

  label {
    display: block;
    font-size: 16px;
  }

  .btn {
    display: block;
    float: right;
  }
}
section.active .btn {
  &:before,
  &:after {
    animation-iteration-count: infinite;
  }
}
.btn {
  position: relative;
  width: 60px;
  margin: 0 0 11px;
  padding: 4px 10px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  &:before {
    content: "z";
    position: absolute;
    animation: float 1.6s forwards;
    will-change: bottom, opacity;
  }
  &:after {
    content: "-_-";
    white-space: nowrap;
    animation: snore 1.6s forwards;
    will-change: font-size, content;
  }

  &:hover {
    &:before {
      content: none;
    }

    &:after {
      animation: slow-blink-to-anger 10s forwards;
    }
  }
  &:active {
    &:after {
      animation: blink 2.5s;
    }
  }

  &:focus {
    outline: 0;
  }
}
.copy-area {
  width: Max(300px, calc(100% - 600px));
  max-width: 100%;
}

#primary-nav a {
  .clones {
    height: 0;
    line-height: 1em;
    overflow: hidden;
  }
  .clones {
    will-change: height;
  }
  &:focus .clones {
    animation: poptext .5s forwards;
  }
}

.draggable {
  position: absolute;
  cursor: pointer;
}

@keyframes float {
  0% {
    bottom: 100%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    bottom: calc(100% + 20px);
    opacity: 0;
  }
}
@keyframes snore {
  0% {
    content: "-_-";
    font-size: 12px;
  }
  50% {
    content: "´ ・｀";
  }
}
@keyframes slow-blink-to-anger {
  0% {
    content: "-_·";
  }

  2% {
    content: "·_-";
  }

  4% {
    content: "·_·";
  }

  100% {
    content: "ಠ_ಠ";
  }
}

@keyframes blink {
  0% {
    content: "-_·";
  }

  25% {
    content: "·_-";
  }

  50% {
    content: "·_·";
  }
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
@keyframes shoot {
  from {
    transform: rotate(360deg) scale(1);
  }
  to {
    transform: rotate(720deg) scale(0);
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes reverse-roll {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes poptext {
  0% {
    height: 0px;
  }
  10% {
    height: 1em;
  }
  20% {
    height: 2em
  }
  30% {
    height: 3em;
  }
  40% {
    height: 4em;
  }
  50% {
    height: 5em;
  }
  60% {
    height: 4em;
  }
  70% {
    height: 3em;
  }
  80% {
    height: 2em
  }
  90% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}
.monitor {
  animation: tvflicker .5s infinite alternate; 
  animation-delay: .5s;
}
.marquee {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: $bg;
  border: 1px solid #fff;
  box-shadow: 2px 2px 0 $shadow-color;
    span {
    white-space: nowrap;
    animation: marquee 10s linear;
    animation-delay: .2s;
  }
}
@keyframes tvflicker {
  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
}
@keyframes marquee {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -100%;
  }
}
.typing {    
  max-width: none;
  p {
    display: inline-block;
    width: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end) forwards;
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: calc((#{$i} - 1) * 3.5s);
      }
    }
    :last-of-type {
      animation: 
        typing 3.5s steps(40, end),
    }
  }
  &:after {
    content: '|';
    color: transparent;
    animation: blink-caret .75s step-start infinite;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { color: transparent; }
  50% { color: orange }
}

@keyframes fall-down-1 {
  0% {
    position: absolute;
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes fall-down-2 {
  0% {
    position: absolute;
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes step-background {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes move-shadow {
  0% {
    text-shadow: 1px 3px 0 #000
  }
  60% {
    margin-top: -3px;
    margin-left: -3px;
    text-shadow: 4px 6px 2px #000;
  }
  100% {
    margin-top: -2px;
    margin-left: -2px;
    text-shadow: 2px 5px 1px #000;
  }
}
@keyframes spin {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}