@import 'variables.scss';
.collages {
	.collage {
		height: 400px;
		width: 450px;
		display: inline-flex;
		position: relative;
		box-shadow: 2px 5px 0 $shadow-color;
		&:nth(4) {
			align-self: flex-end;
		}
		.img-container {
			width: 100%;
			img {
				height: auto;
				width: auto
			}
		}
		.copy-container {
			position: absolute;
			width: 100%;
		}
	}
}