@import 'variables.scss';
section#collages {
	width: 100vw;
	margin: 0;
	padding: 0;
	border-radius: 50%;
}
#collages {
	.container {
		margin: 0;
		padding: 0;
		.collage {
			height: 450px;
			.img-container {
				background-size: 80%;
				align-items: center;
				overflow: hidden;
				background-blend-mode: multiply;
				img {
					max-width: 100%;
				}
			}
			.copy-container {
				font-size: 51px;
				flex-direction: column;
				justify-content: center;
				h4 {
					color: unset;
				}
			}
			.img-container,
			.copy-container {
				display: flex;
				flex: 1 0 50%;

			}
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
	}
}