@import 'variables.scss';

#music {
	.copy-area {
		width: Max(300px, calc(100% - 600px));
		max-width: 100%;
	}
}
.tag {
	position: relative;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 6px;
    padding-right: 30px;
    box-shadow: 2px 2px 0 $shadow-color;
    border: 1px solid $blue;
    border-radius: 21px;
    background: linear-gradient(transparent, $shadow-color);
    .num {
	    position: absolute;
	    height: 100%;
	    border-left: 2px solid #30f;
	    top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    right: 10px;
	    padding-left: 5px;
	    font-weight: 600;
    }
}
.music-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: auto;
	height: 500px;
	position: relative;
	.music {
		position: absolute;
		padding: 33px;
		margin-left: -100%;
		height: 100px;
		background-color: violet;
		border: 1px solid;
		border-radius: 0;
		box-shadow: 3px 4px 0 $shadow-color;
		transition: all .8s ease;
		animation: floatacross 20s infinite;
		animation-duration: 60s;
		&:after {
			position: absolute;
			height: 100%;
			width: 100%;
			border: inherit;
			border-radius: inherit;
			top: 4px;
			left: 4px;
		}
		&:hover {
			animation-play-state: paused;
		}
		&.match {
			position: relative;
			margin-left: calc(50% - 600px / 2) !important;
			top: unset !important;
			left: unset !important;
			animation-play-state: paused;
		}
		&.no-match {
			display: none;
		}
		label {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 1px solid #fff;
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 11px;
			color: #fff
		}
		button {
			height: 21px;
			width: 21px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			background-color: transparent;
			background: none;
			border: none;
			color: $lime;
			border: none;
		}
	}
	@for $i from 1 through 100 {
		.music:nth-child(#{$i}) {
			top: percentage(random(80) / 100);
			left: percentage(random(230) / 100);
			animation-delay: random(10) + s;
		}
	}
}
@keyframes floatacross {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 100%;
	}
}