@import 'variables.scss';

#music {
	.copy-area {
		width: Max(300px, calc(100% - 600px));
		max-width: 100%;
	}
}
.music-container {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	height: 500px;
	position: relative;
	border: 1px solid;
	border-radius: 4px;
	overflow: hidden;
	.music {
		position: absolute;
		padding: 33px;
		border: 1px solid;
		border-radius: 0;
		box-shadow: 3px 4px 0 $shadow-color;
		animation: floatacross 20s infinite;
		animation-duration: 60s;
		&:after {
			position: absolute;
			height: 100%;
			width: 100%;
			border: inherit;
			border-radius: inherit;
			top: 4px;
			left: 4px;
		}
		&:hover {
			animation-play-state: paused;
		}
		label {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 1px solid #fff;
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 11px;
			color: #fff
		}
		button {
			height: 21px;
			width: 21px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			background-color: transparent;
			background: none;
			border: none;
			color: $lime;
			border: none;
		}
	}
	@for $i from 1 through 100 {
		.music:nth-child(#{$i}) {
			top: percentage(random(100) / 100);
			left: percentage(random(100) / 100);
		}
	}
}
@keyframes floatacross {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 100%;
	}
}