@import 'variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 8px;
  font-size: 14px;
  line-height: 1.1;
  color: lightblue;
  font-family: "Cutive Mono",monospace;
  background-color: $blue;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 0 8px;
}
.flexbox {
  display: flex;
}
button {
  cursor: pointer;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:visited {
    color: unset;
  }
}

section {
  position: absolute;
  border-radius: 50%;
  width: 197.3vw; /* account for scroll bar */
  min-height: 100vh;
  margin-left: -50vw;
  margin-top: -50vw;
  padding: 50vw 50vw 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: transform .2s ease;
  color: #fff;
  &.active {
    transform: scale(1);
  }
  .container {
    padding: 51px 28px;
  }
}
/* Fonts */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 21px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: lightblue;
  z-index: 1;
}

h1 {
  font-size: 44px;
  line-height: 45px;
}
p {
  margin-bottom: 18px;
}
.flicker-text {
  font-family: Nintendoid1;
  color: #eee;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bottom-left {
  margin-top: 50vh;
  margin-left: 50vw;
}
.supertext {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.close {
  position: absolute;
  right: 3px;
  top: -1px;
  transform: rotate(45deg);
  &:after {
    content: '+';
  }
}
#primary-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  a, p {
    font-family: Atari-Classic;
    text-transform: uppercase;
    cursor: pointer;
    @include boxshadow;
  }

  a {
    display: none;
  }

  &:hover a {
    display: block;
  }
}
/* Footer */
footer {
  width: 100%;
  padding: 80vh 0 51px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  #stars {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 600px;
    z-index: -999;
    .star {
      position: absolute;
      padding: 21px;
      transition: top .1s ease;
      transition-delay: 2s;
      &:after {
        content: '+';
      }
      &:hover {
        animation: shoot .5s forwards;
      }
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          top: percentage(random(100) / 100);
          left: percentage(random(100) / 100);

        }
      }
    }
    &.fallen {
      .star {
        top: 100%;
      }
    }
  }
  #signup {
    direction: rtl;
    text-align: left;
    max-width: 300px;
    margin-left: auto;

    transform: rotate(270deg) translate(16px, 120px);
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    .fab {
      @include button;
      position: relative;
      height: 21px;
      width: 21px;
      margin: 0 6px;
      padding: 3px;
      border-radius: 50%;
      font-size: 12px;
      color: $blue;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: $shadow-color;
        box-shadow: none;

        &:before {
          color: #fff;
        }
      }
    }
  }
}
/* Forms */
.input, input {
  position: relative;
  -webkit-appearance: none;
  padding: 6px 12px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid #fff;
  border-radius: 0;
  font-family: "Cutive Mono",monospace;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  &:after {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: .2;
    z-index: 1;
  }
}

.input + .btn, input + .btn {
  height: 33px;
}

form {
  max-width: 280px;
  width: 100%;

  .input {
    width: 100%;
  }
  input {
    height: 33px;
  }

  label {
    display: block;
    font-size: 16px;
  }

  .btn {
    display: block;
    float: right;
  }
}
.input::placeholder {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
}
.btn {
  position: relative;
  width: 60px;
  margin: 0 0 11px;
  padding: 4px 10px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;

  &:before {
    content: "z";
    position: absolute;
    animation: float 1.6s forwards infinite;
  }

  &:after {
    content: "-_-";
    white-space: nowrap;
  }

  &:hover {
    &:before {
      content: none;
    }

    &:after {
      animation: slow-blink-to-anger 10s forwards;
    }
  }

  &:active {
    &:after {
      animation: blink 2.5s;
    }
  }

  &:focus {
    outline: 0;
  }
}

@keyframes float {
  0% {
    bottom: 100%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    bottom: calc(100% + 20px);
    opacity: 0;
  }
}

@keyframes slow-blink-to-anger {
  0% {
    content: "-_·";
  }

  2% {
    content: "·_-";
  }

  4% {
    content: "·_·";
  }

  100% {
    content: "ಠ_ಠ";
  }
}

@keyframes blink {
  0% {
    content: "-_·";
  }

  25% {
    content: "·_-";
  }

  50% {
    content: "·_·";
  }
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
@keyframes shoot {
  from {
    transform: rotate(360deg) scale(1);
  }
  to {
    transform: rotate(720deg) scale(0);
  }
}