@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display&display=swap');
@font-face {
  font-family: 'Atari-Classic';
    src:  url('../atari/Atari-Classic.ttf.woff') format('woff'),
    url('../atari/Atari-Classic.ttf.svg#Atari-Classic') format('svg'),
    url('../atari/Atari-Classic.ttf.eot'),
    url('../atari/Atari-Classic.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'Cutive Mono', monospace;
$secondary-font: 'Playfair Display', serif;
$atari: 'Atari-Classic';

@mixin center($hor, $ver) {
  position: absolute;
  @if $hor {
    top: 50%;
    @unless $ver {
      transform: translateY(-50%);
    }
  }
  @if $ver {
    left: 50%;
    @unless $hor {
      transform: translateX(-50%);
    }
  }
  @if $hor and $ver {
    transform: translate(-50%, -50%);
  }
}
/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  line-height: 1.1;
  font-family: $primary-font;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:visited {
    color: unset;
  }
}
section {
  min-height: 100vh;
}
/* Fonts */
h1, h2, h3, h4, h5, h6 {
  background-color: #fff;
  z-index: 1;
}
h1 {
  font-size: 44px;
  line-height: 45px;
}
/* Navigation */
#primary-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 999;
  a, p {
    font-family: $atari;
    text-transform: uppercase;
    cursor: pointer;
  }
  a {
    display: none;
  }
  &:hover {
    a {
      display: block;
    }
  }
}
/* Socials */
.socials .fab {
  position: relative;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 12px;
  &:before {
    @include center(true, true);
  }
  &:hover {
    background-color: #000;
    &:before {
      color: #fff;
    }
  }
}
/* Forms and form related elemenets */
input,
.input {
  -webkit-appearance: none;
  height: 33px;
  padding: 6px 12px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid;
  border-radius: 0;
  font-family: $primary-font;
  font-size: 18px;
  box-sizing: border-box;
  & + .btn {
    height: 33px;
  }
}
.btn {
	position: relative;
  width: 60px;
	padding: 4px 10px;
  border: 6px solid #000;
  border-top-color: #00000029;
  border-left-color: #00000014;
  border-right-color: #000;
  background-color: #fff;
  cursor: pointer;
  &:before {
    content: "z";
    position: absolute;
    animation: float 1s forwards infinite;
  }
  &:after {
    content: "-_-";
    white-space: nowrap;
  }
  &:hover {
    &:before {
      content: none;
    }
    &:after {
      animation: slow-blink-to-anger 10s forwards;
    }
  }
  &:active {
    border-bottom-color: #00000029;
    border-right-color: #00000014;
    border-left-color: #000;
    border-top-color: #000;
    &:after {
      animation: blink 2.5s;
    }
  }
  &:focus {
    outline: none;
  }
}
/* Animation */
@keyframes float {
  0% {
    bottom: 100%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: calc(100% + 20px);
    opacity: 0;
  }
}
@keyframes slow-blink-to-anger {
  0% {
    content: "-_·";
  }
  2% {
    content: "·_-"
  }
  4% {
    content: "·_·"
  }
  100% {
    content: "ಠ_ಠ"
  }
}
@keyframes blink {
  0% {
    content: "-_·";
  }
  25% {
    content: "·_-"
  }
  50% {
    content: "·_·"
  }
}