---
title: music
weight: 1
---
<div class="copy-area">
	<p>
		Please enter a key phrase to help identify what you'd like to listen to.
	</p> 
	<input class="input" type="text" id="search" placeholder="search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'search'">
  <button aria-label="search music" id="search-by-tag" class="btn" type="submit"></button>
  <button id="playall" class="windows btn">Play All</button>
  <button id="shuffle" class="btn windows">Shuffle Tracks</button>

</div>
<div id="tags">
	{% assign tags  = site.data.tracks | map: "tags" | join: ',' | split: ',' | sort %}
	{% assign count = 1 %}
	{% assign prev = '' %}
	{% for tag in tags %}
		{% if prev != '' %}
			{% if tag == prev %}
				{% assign count = count | plus: 1 %}
			{% else %}
				<button class="tag infinite" id="{{ prev }}">{{ prev }}<span class="num">{{ count }}</span></button>
				{% assign count = 1 %}
			{% endif %}
		{% endif %}

		{% assign prev = tag %}

	{% endfor %}
</div>

<div class="music-container">
	{% for track in site.data.tracks %}
    {% assign id = forloop.index0 %}
		<div itemscope itemtype="https://schema.org/MusicRecording" itemprop="audio" class="music infinite" data-value="{{ track.tags | join: ' ' }}">
			<meta itemprop="keywords" content="{{ track.tags | join: ' ' }}">
			<div class="music--inner">
				<label class="draggable" itemprop="name">{{ track.title }}</label>
				<div class="close"></div>
				<div class="player">
					<audio preload="none" id="player-{{ id }}" 
						   onloadedmetadata="mDur('{{ id }}')" 
						   ontimeupdate="mPlay('{{ id }}')" 
						   data-title="{{ track.title }}">
						<source src="{{ track.mp3 }}" type="audio/mpeg">
					</audio>
					<div class="controls"> 
					  <button aria-label="play" class="play" onclick="document.getElementById('player-{{ id }}').play();"></button> 
					  <button aria-label="pause" class="pause" onclick="document.getElementById('player-{{ id }}').pause();"></button> 
					  <button aria-label="turn up volume" class="vol vol-incr" onclick="document.getElementById('player-{{ id }}').volume += 0.1">+</button> 
					  <button aria-label="lower volume" class="vol vol-decr" onclick="document.getElementById('player-{{ id }}').volume -= 0.1">-</button> 
					  <div class="volume"><span>1.0</span></div>
			          <div class="current-time-container" aria-label="current time">
			            <span id="curr-{{ id }}" class="current-time"></span>
			          </div>
					</div>
			        <div class="range-container">
	  				<input id="dur-{{ id }}" type="range" name="rng" min="0" value="0" onchange="mSet('player-{{ id }}', $(this))" onclick="mSet('player-{{ id }}', $(this))">
			        </div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
