<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no">
<meta name="title" content="!@#$%">
<meta name="description" content="Learn more about !@#$%'s. Hear the latest tracks. See the collages. Sign up for our newsletter.">
<meta name="keywords" content="!@#$%, expletive, music, techno, IDM, boston, chiptune">
<meta name="author" content="Jill">
<meta property="og:image" content="assets/images/expletive.png">
<title>{{ site.title }}</title>
<link href="/assets/images/fontawesome/style.css" rel="stylesheet" type="text/css">
<link defer href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon/favicon.ico">
<link rel="stylesheet" preload type="text/css" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date:'%s' }}">
