{% assign sections = site.sections | sort: "weight" %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      {% include header.md %}
    </header>
    {% for section in sections %}
      <section id="{{ section.title }}">
        {% unless section.title == "about" %}
          <div class="container fixed">
            <h1>
              {{ section.title }}
            </h1>
            {% endunless %}
            {{ section.content }}
          </div>
      </section>
    {% endfor %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
  <footer>
    {% include footer.md %}
  </footer>
</html>
