{% assign sections = site.sections | sort: "weight" %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      {% include header.md %}
    </header>
    {% for section in sections %}
      <section id="{{ section.title }}"{% if forloop.index0 == 0 %} class="active"{% endif %}>
        <div class="container fixed">
          <h2 class="flicker-text x" style="position:absolute;">
            {% if section.name %}
              {{ section.name }}
            {% else %}
              {{ section.title }}
            {% endif %}
          </h2>
          {{ section.content }}
          <footer>
            {% include footer.md %}
          </footer>
        </div>
      </section>
    {% endfor %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript" src="{{ '/assets/js/scripts.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/send_mail.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/explode.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/drag.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/audio_player.min.js' | relative_url }}"></script>
  </body>
</html>
