{% assign sections = site.sections | sort: "weight" %}

<!DOCTYPE html>
<html lang="en" dir="ltr" id="expletive">
  <head>
    {% include_cached head.html %}
  </head>
  <body>
    <header>
      {% include_cached header.md %}
    </header>
    <div id="choose-theme">
      <select onchange="$('body').attr('class', this.value.toLowerCase())">
        <option>Choose theme</option>
        <option>Night</option>
        <option>Sterile</option>
        <option>DiscoMode</option>
      </select>
    </div>
    {% for section in sections %}
      <section id="{{ section.title }}"{% if forloop.index0 == 0 %} class="active"{% endif %}>
        <div class="container fixed">
          <h2 class="flicker-text infinite" style="position:absolute;">
            {% if section.name %}
              {{ section.name }}
            {% else %}
              {{ section.title }}
            {% endif %}
          </h2>
          {{ section.content }}
          <footer>
            {% include_cached footer.md %}
          </footer>
        </div>
      </section>
    {% endfor %}
    <div id="media-player" class="windows">
      <marquee id="track-title"></marquee>
      <div class="controls"> 
        <button aria-label="play" class="play" onclick="$('.music.active audio')[0].play();">&#x23f5;</button> 
        <button aria-label="pause" class="pause" onclick="$('.music.playing audio')[0].pause();">&#x23f8;</button>
        <button aria-label="stop" class="stop" onclick="stop(this)">&#x23F9;</button>
        <button aria-label="previous track" class="prev">&#x23ee;</button>
        <button aria-label="next track" class="next">&#x23ed;</button>
        <button aria-label="increase volume" class="vol vol-incr" onclick="$('.music.active audio')[0].volume += 0.1; $(this).parent().find('.volume span').html($('.music.active audio')[0].volume) ">+</button> 
        <button aria-label="decrease volume" class="vol vol-decr" onclick="$('.music.active audio')[0].volume -= 0.1;$(this).parent().find('.volume span').html($('.music.active audio')[0].volume)">-</button>
        <div class="volume"><span>1.0</span></div>
        <div class="current-time-container">
          <span id="curr-main" class="current-time"></span>
        </div>
      </div>
      <div class="range-container">
        <input id="dur-main" type="range" name="rng" min="0" value="0" onchange="mSet($('.music.active audio').attr('id'), $(this))" onclick="mSet($('.music.active audio').attr('id'), $(this))">
      </div>

      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script preload type="text/javascript" src="{{ '/assets/js/scripts.min.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>
    <script defer type="text/javascript" src="{{ '/assets/js/send_mail.min.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>
    <script defer type="text/javascript" src="{{ '/assets/js/explode.min.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>
    <script defer type="text/javascript" src="{{ '/assets/js/drag.min.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>
    <script preload type="text/javascript" src="{{ '/assets/js/audio_player.min.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>
  </body>
</html>
